{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}  

    <div class="container-fluid" autoFocus='false' style="margin-top: 200px;">
    <h1 class="jumbotron-text display-1 text-center mb-0" style="font-size: 150px;">
        <img src="{{ url_for('static', filename='assets/Spatial_Logo.png') }}" alt="Spatial Logo">
    </h1></br>
  <p class="lead jumbotron-text text-center mb-0">   <b>Achieving trustworthy, transparent and explainable AI
        for cybersecurity solutions </b></p>
        
  </div> {% endblock %}

